# Power Up Research Software Development with Github Copilot

### 1.0 Data loading

#### 1.1 Load the dataset

In [fm-ad-notebook-exploration.ipynb](fm-ad-notebook-exploration.ipynb), we conducted various data exploration techniques to gain a deeper understanding of the dataset. Now equipped to make informed decisions regarding data cleaning. Let's load the CSV file generated from the [fm-ad-notebook-exploration.ipynb](fm-ad-notebook-exploration.ipynb) and reference it as a dataframe so that we can start working with the dataset.

In [1]:
import pandas as pd
import numpy as np

In [2]:
# convert the combined_data.csv to dataframe called df
df = pd.read_csv('combined_data.csv')

#### 1.2 Set output display

To effectively view and analyze the dataset, we need to configure pandas to display all columns and most rows of the dataframe.

In [3]:
pd.set_option("display.max_columns", None)  # or 1000
pd.set_option("display.max_rows", None)  # or 1000

### 3.0 Data processing

#### 3.1 Dropping columns

According to the dataset documentation, there are 18,004 records in the study. Additionally, results from section 2.6 of [fm-ad-notebook-exploration.ipynb](fm-ad-notebook-exploration.ipynb) indicate that the `case_id` column has 18,004 unique values.

Moreover, other columns also have 18,004 unique values. These columns likely serve as unique identifiers similar to the `case_id` column. For the purposes of this workshop, we can assume they are redundant.

Let's create a prompt to identify which of these columns fit this criterion.

In [ ]:
# create a dictionary called col_remove to store names of columns that have great than or equal to 18004 unique values

As we can see from the list above, the `case_id` column is included in the list. However, since we want to use this list to specifiy which columns to remove from the dataframe, we should remove `case_id` from this list.

In [ ]:
# remove case_id from the dictionary above

Let's verify that the `case_id` column has been removed.

In [ ]:
# show the dictionary

In [ ]:
# show if case_id is in the dictionary

In [10]:
# drop columns from the dictionary above

In [ ]:
# show the shape of the new dataframe

In [ ]:
# show the columns in the dataframe

#### 3.2 Normalizing missing values

Before we handle duplicate records, let's normalize the notation for missing values first. Currently, missing values are listed as 'Unkown' or NaN. Let's convert them all to NaN for uniformity.

In [ ]:
# change values 'Unknown' to NaN in the dataframe using numpy

We should verify if the operation above was done successfully.

In [ ]:
# check if any columns still have the value 'Unknown'

#### 3.4 Handling duplicate records

We saw in section 2.7 of [fm-ad-notebook-exploration.ipynb](fm-ad-notebook-exploration.ipynb) notebook that there were duplicate records. Let's go ahead and drop them.

In [ ]:
# drop duplicate records in the dataframe

Let's take a look at the dimensions of the new dataframe. If the duplicates were dropped succesfully, there should be half the amount of records in the new dataframe.

In [ ]:
# show dataframe shape

In section 2.7, you saw that there were records that shared the same `case_id`. Let's check if there are any other records share a `case_id`.

In [ ]:
# count how many records share the same case_id

Let's take a look at a visual representation of the distribution of the number of records that are shared by `case_id`'s.

In [ ]:
# show a bar graph with the x axis as the number of records shared by case_id and the y axis as the number of records

Let's take a look at the list of records shared by a particular `case_id`.

Create a prompt below to generate code to show you records that shares a case_id different from the case_id in section 2.7 of [fm-ad-notebook-exploration.ipynb](fm-ad-notebook-exploration.ipynb).

In [ ]:
# show the records with the case_id fcd9637f-00f2-49e9-bb87-94e556d5d7eb

So far we have created prompts that are called zero-shot prompts. Basically it means that these prompts have no specific examples, we just tell it to do what we want.

Next we will be working with one-shot prompts. In addition to describing what you want like in zero-shot prompts, one-shot prompts are prompts adds the prompt with a single example. This helps generate a more context-aware response.

In [ ]:
# Select the two records with the same 'case_id' value of 'fcd9637f-00f2-49e9-bb87-94e556d5d7eb.
# Display these records for visual inspection. Then, verify that these records complement each other in terms of null and non-null values for all columns after the first five columns.
# In other words, if one record has NaN values in a column, the other record should have non-NaN values in that same column, and vice versa.
# Also, if both records have NaN values in the same column and ignore it from the comparison
# If the two records complement each other, print "The two records complement each other." Otherwise, print "The two records do not complement each other."

# get the records with the case_id fcd9637f-00f2-49e9-bb87-94e556d5d7eb
case_id_records = df[df['case_id'] == 'fcd9637f-00f2-49e9-bb87-94e556d5d7eb']

# get the first record
record1 = case_id_records.iloc[0]

# get the second record
record2 = case_id_records.iloc[1]

# compare the two records
complement = True
for column in record1.index[5:]:
    if record1[column] != record2[column]:
        if pd.isnull(record1[column]) or pd.isnull(record2[column]):
            continue
        else:
            complement = False
            break

if complement:
    print("The two records complement each other.")
else:
    print("The two records do not complement each other.")

Based on the output above, it looks like these records compliment each other. We need to verify that all records with the same `case_id` perfectly complement each other in terms of null and non-null values. If one record has NaN values in a column, the other records should have non-NaN values in that same column, and vice versa. This step ensures data completeness.

In [ ]:
# write a Python code snippet that iterates over all unique 'case_id' values. For each 'case_id', select all records associated with that 'case_id'.
# Verify that these records complement each other in terms of null and non-null values for all columns AFTER the first five columns.
# In other words, if one record has NaN values in a column, the other records should have non-NaN values in that same column, and vice versa.
# Print a dictionary where each 'case_id' is a key and the corresponding value is a boolean indicating whether all records with that 'case_id' perfectly complement each other in terms of null and non-null values.
# For example, if all records with 'case_id' = 'fcd9637f-00f2-49e9-bb87-94e556d5d7eb' perfectly complement each other, the dictionary should have the key 'fcd9637f-00f2-49e9-bb87-94e556d5d7eb' with a value of True.

# create a dictionary to store the case_id and the boolean value
case_id_dict = {}

# iterate over all unique case_id values
for case_id in df['case_id'].unique():
    # get the records with the case_id
    case_id_records = df[df['case_id'] == case_id]
    complement = True
    for i in range(len(case_id_records)):
        record1 = case_id_records.iloc[i]
        for j in range(i+1, len(case_id_records)):
            record2 = case_id_records.iloc[j]
            for column in record1.index[5:]:
                if record1[column] != record2[column]:
                    if pd.isnull(record1[column]) or pd.isnull(record2[column]):
                        continue
                    else:
                        complement = False
                        break
            if not complement:
                break
        if not complement:
            break
    case_id_dict[case_id] = complement

case_id_dict

In [ ]:
# Check if all the values in the dictionary are True if so print "All records complement each other." otherwise print "Not all records complement each other."
if all(case_id_dict.values()):
    print("All records complement each other.")
else:
    print("Not all records complement each other.")

Combine records with the same `case_id` by taking the first non-null value for each group. This step consolidates the data into a more concise format.

In [ ]:
# Combine records with the same 'case_id' and take the first non-null value for each group
df = df.groupby('case_id').first().reset_index()

Let's take a look at the shape and the first few records of our dataframe to ensure the data consolidation was successful. A success should show that the dataframe has 18,004 records.

In [ ]:
# show the shape of the dataframe
df.shape

Ensure there are no duplicate records in the new dataframe.

In [ ]:
# show the number of duplicate records in the dataframe
df.duplicated().sum()

Review the number of unique values in each column to identify any potential issues.

In [ ]:
# show number of unique values in each column in descending order
df.nunique().sort_values(ascending=False)

Check if there are still any empty values in the dataframe.

In [ ]:
# check to see if there are any null values in the dataframe
df.isnull().sum().sum()

Show the number of unique values in the columns that have null values to understand the extent of missing data.

In [ ]:
# show the number unique values of the columns that have null values
df.isnull().sum()[df.isnull().sum() > 0]

##### 3.3 Normalizing age column

Let's start by normalizing the diagnoses.age_at_diagnosis column which represents age of participants. As you will see, the diagnoses.age_at_diagnosis column does not represent age in years.

In [ ]:
# describe stats on diagnoses.age_at_diagnosis column
df['diagnoses.age_at_diagnosis'].describe()

According to the publication associated with this dataset, the youngest age of the participant is 19. Let's do some basic math to calulate our normalization factor.

In [ ]:
6947/19

Based on the calculation above, the column's normalization factor is 365. So let's transform the existing age column by dividing it by 365 and create a new column and dataframe.

In [ ]:
# create a new column 'diagnoses.age_at_diagnosis_years' by dividing 'diagnoses.age_at_diagnosis' by 365, and drop the 'diagonses.age_at_diagnosis' column
df['diagnoses.age_at_diagnosis_years'] = df['diagnoses.age_at_diagnosis'] / 365

The publication “High-Throughput Genomic Profiling of Adult Solid Tumors Reveals Novel Insights into Cancer Pathogenesis”, http://cancerres.aacrjournals.org/content/77/9/2464.long, removes records of patients aged 89 or older. Let's do some data cleaning to reflect this.

In [ ]:
# count how many records that have the value of 'diagnosis.age_at_diagnosis_years' greater or equal to 89
(df['diagnoses.age_at_diagnosis_years'] >= 89).sum()

In [ ]:
# drop the record with 'diagnosis.age_at_diagnosis_years' greater or equal to 89
df = df[df['diagnoses.age_at_diagnosis_years'] < 89]

Currently, the age column stores the ages of the participants as floats. The publication however describes and visualizes the result of the age distribution as integers. Given that information, let's do more data transformation to reflect this.

In [ ]:
# round down the diagnoses.age_at_diagnosis_years column and convert to integer
df['diagnoses.age_at_diagnosis_years'] = df['diagnoses.age_at_diagnosis_years'].apply(np.floor).astype(int)

Verify the range of the new age column is as expected. The proper range should be between 19-88.

In [ ]:
# show statistical summary of the diagnoses.age_at_diagnosis_years column
df['diagnoses.age_at_diagnosis_years'].describe()

Once the range is expected, we can drop the diagnosis.age_at_diagnosis column so that in the next notebook, GitHub Copilot is able to automatically choose our single "age column" for vidsualizations.

In [ ]:
# drop diagnosis.age_at_diagnosis column
df.drop(columns=['diagnoses.age_at_diagnosis'], inplace=True)

#### 3.5 Save cleaned dataframe

Save the cleaned dataframe to a new CSV file named combined_data_cleaned.csv.

In [ ]:
# Save dataframe to a new csv file named combined_data_cleaned.csv
df.to_csv('combined_data_cleaned.csv', index=False)